body {
  padding-top: 60px;
}
.gravatar {
	border-radius: 9px;
	float: left;
	margin: 10px 20px 10px 0;
}
.topbar .fill {
	background-image: url(../images/header-bg.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: #000;
	color: white;
	min-width: 650px;
}
.hero-unit {
	background-image: url(../images/input-bg.png);
}
.label.tag { background: #444; }
code { background-color: transparent; }