.gravatar {
	border-radius: 9px;
	float: left;
	margin: 10px 20px 10px 0;
}
.navbar-inner {
	background-image: url(../images/input-bg.png);
}
.hero-unit {
	color: #fff;
	background-image: url(../images/header-bg.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-color: #000;
	padding-top: 90px;
	text-align: center;
}
.hero-unit h1 a { 
	color: #404040;
	text-decoration: none; 
}
.hero-unit h1 a:hover {
	color: #00438a;
	text-decoration: underline;
}
.label.tag { background: #666; }
code { background-color: transparent; }
#dsq-content {
	background-image: url(../images/input-bg.png);
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.date-label {
	display: inline-block;
	width: 140px; 
}
.post-content img {
	margin: 0 auto;
	max-width: 800px;
	border: 1px solid #ddd;
	padding: 15px;
}