---
layout: default
---
<div class='entry'>
  <h1 class='title'><a href='{{ page.url }}'>{{ page.title }}</a></h1>
  <div class='byline'>{{ page.date | date:"%B %d, %Y @ %H:%M" }}</div>
  <div class='body'>
    {% if hide_extended %}
      {{ page.content }}
      {% if page.extended.size > 0 %}
      <p>Continue reading at <a href='{{ page.url }}'>{{ page.title }}</a>.</p>
      {% endif %}
    {% else %}
      {{ page.content }}
      {{ page.extended }}
    {% endif %}
  </div>
  <div class='footer'>
    <div class='comments'>
    </div>
    <div class='tags'>
      <span>
	tags:
	{% for t in page.tags %}
	<a href='http://www.google.com/search?q={{ t | escape }}+site:matt-hill.github.com'>{{ t }}</a>{% if forloop.last == false %}, {% endif %}
	{% endfor %}
      </span>
    </div>
  </div>
</div>
