<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
</head>
<body>
  <div id="sidebar">
    <div id="header">
      <h1 id="header-name">
	<a href="http://matt-hill.github.com/">matt-hill.github.com</a>
      </h1>
      <h2 id="header-description"></h2>
    </div>
 
    <hr id="header-break" />

    <div class="recent-entries widget">
      <h3>Recent Entries</h3>
      <ul>
	{% for rpost in site.posts limit:20 %}
	<li><a href="{{ rpost.url }}">{{ rpost.title }}</a></li>
	{% endfor %}
      </ul>
    </div>
    
    <div class='archive widget'>
      <a href="/archive/">Archives</a>
    </div>
  </div>
  
  
  <div id="content">
    <div id="content-spacer"></div>
    
    {{ content }}

  </div>
    
  <div class="clear"></div>
  <div id="footer">
  
    this blog is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">creative commons license</a>
    
  </div>

  <script type="text/javascript">
    //<![CDATA[
      (function() {
        var links = document.getElementsByTagName('a');
	var query = '?';
        for(var i = 0; i < links.length; i++) {
	  if(links[i].href.indexOf('#disqus_thread') >= 0) {
	    query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	  }
	}
	document.write('<script type="text/javascript" src="http://disqus.com/forums/matthillongithub/get_num_replies.js' + query + '"></' + 'script>');
      })();
    //]]>
  </script>


  <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-9000235-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  
</body>
</html>